doctype html
html(lang="zh" prefix="og: http://ogp.me/ns#")
    head
        meta(charset="UTF-8")
        meta(property="og:locale" content="zh_CN")
        meta(property="og:site_name" content="新浪微博")
        meta(property="og:url" content=url)
        meta(property="og:title" content=title)
        meta(property="og:article:published_time" content=pub_time)
        meta(property="og:article:author:username" content=username)
        meta(property="og:description" content=content)
        block addition
        title #{title}
        link(rel="shortcut icon" href="https://h5.sinaimg.cn/upload/696/2017/08/23/weibologo.png")
    if keep
        body
    else 
        body(onload=`location.href="${url}"`)
